<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283995717721-0329pui7t8e5sjh7kpbp2a9sdgg2mdip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283995717721-0329pui7t8e5sjh7kpbp2a9sdgg2mdip</string>
	<key>API_KEY</key>
	<string>AIzaSyDHjgujBhkwLW8l6rnRJVnYDkc-C_7E3ow</string>
	<key>GCM_SENDER_ID</key>
	<string>283995717721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlebeetlelabs.MyLocations</string>
	<key>PROJECT_ID</key>
	<string>location-saver-jdl</string>
	<key>STORAGE_BUCKET</key>
	<string>location-saver-jdl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283995717721:ios:9010e8613c73100b</string>
	<key>DATABASE_URL</key>
	<string>https://location-saver-jdl.firebaseio.com</string>
</dict>
</plist>